<form action="/users/<%= user.id %>" method="post">

    <div class="input-group">
        <label for="name">First Name:</label>
        <input type="text" class="form-control" name="firstname" placeholder="Please enter your first name" value="<%= user.firstname %>" required>
    </div>

    <div class="input-group">
        <label for="name">Last Name:</label>
        <input type="text" class="form-control" name="lastname" placeholder="Please enter your last name" value="<%= user.lastname %>" required>
    </div>

    <div class="input-group">
        <label for="name">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="Please enter your email" value="<%= user.email %>" required>
    </div>

    <div class="input-group">
        <label for="name">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Please enter your password" minlength="5" required>
    </div>

    <input type="hidden" name="posts" value="">

    <% if (user.id !== "") { %>
        <input type="hidden" name="_method" value="put">
        <input type="submit" value="Update Profile">
    <% } else { %>
        <input type="submit" value="Register">
    <% } %>

</form>
