<%# if (success) { %>
    <div class="col col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 alert alert-success" role="alert">
        <%# success %>
    </div>
<%# } else if (errors) { %>
    <div class="col col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 alert alert-danger" role="alert">
        <%# errors %>
    </div>
<%# } %>
